
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Hip Flask Mail. Go ahead, hit refresh.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="/static/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="../assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Hip Flask Mail</a>
        </div>
      </div>
    </div>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">

{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
    <div class="alert alert-error">
      {{ message }}
    </div>
    {% endfor %}
  {% endif %}
{% endwith %}


<h3>current.</h3>

<table class="table">

<tr>
<th>email</th>
<th>password</th>
<th>imap server</th>
<th>delete</th>
</tr>

{% for mailbox in mailboxes %}

<tr>
<td>{{ mailbox.email  }}</td>
<td>{{ mailbox.passwd  }}</td>
<td>{{ mailbox.server }}</td>
<td>

<form method="post" action="/admin/mail/delete" class="form-inline">
<button type="submit" class="btn btn-danger" name="delete_id" value="{{ mailbox.id }}"><i class="icon-remove icon-white"></i></button>
</form>

</td>
</tr>


{% endfor %}

</table>

<h3>new.</h3>
<form method="post" action="/admin/mail" class="well form-inline">
<input type="text" name="email" placeholder="email address">
<input type="text" name="passwd" placeholder="password">
<input type="text" name="server" placeholder="imap server name">
<button type="submit" class="btn btn-primary"><i class="icon-plus icon-white"></i></button>
</form>

    </div>
  </div>
</div>
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/bootstrap/js/jquery-1.7.2.js"></script>
    <script src="/static/bootstrap/js/bootstrap.js"></script>
<!--
    <script src="bootstrap/js/bootstrap-transition.js"></script>
    <script src="bootstrap/js/bootstrap-alert.js"></script>
    <script src="bootstrap/js/bootstrap-modal.js"></script>
    <script src="bootstrap/js/bootstrap-dropdown.js"></script>
    <script src="bootstrap/js/bootstrap-scrollspy.js"></script>
    <script src="bootstrap/js/bootstrap-tab.js"></script>
    <script src="bootstrap/js/bootstrap-tooltip.js"></script>
    <script src="bootstrap/js/bootstrap-popover.js"></script>
    <script src="bootstrap/js/bootstrap-button.js"></script>
    <script src="bootstrap/js/bootstrap-collapse.js"></script>
    <script src="bootstrap/js/bootstrap-carousel.js"></script>
    <script src="bootstrap/js/bootstrap-typeahead.js"></script>
-->

  </body>
</html>

