{% include 'header.html' %}

    <div class="span12">

{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
    <div class="alert alert-error">
      {{ message }}
    </div>
    {% endfor %}
  {% endif %}
{% endwith %}


<h3>current.</h3>

<table class="table">

<tr>
<th>email</th>
<th>password</th>
<th>imap server</th>
<th>delete</th>
</tr>

{% for mailbox in mailboxes %}

<tr>
<td>{{ mailbox.email  }}</td>
<td>*****</td>
<td>{{ mailbox.server }}</td>
<td>

<form method="post" action="/admin/mail/delete" class="form-inline">
<button type="submit" class="btn btn-danger" name="delete_id" value="{{ mailbox.id }}"><i class="icon-remove icon-white"></i></button>
</form>

</td>
</tr>


{% endfor %}

</table>

<h3>new.</h3>
<form method="post" action="/admin/mail" class="well form-inline">
<input type="text" name="email" placeholder="email address">
<input type="password" name="passwd" placeholder="password">
<input type="text" name="server" placeholder="imap server name">
<button type="submit" class="btn btn-primary"><i class="icon-plus icon-white"></i></button>
</form>

    </div>

{% include 'footer.html' %}
