
{% include 'header.html' %}

    <div class="span2">
  
{% if not mailboxes %}
<p>No mailboxes set up. Oh no!</p>
{% else %}

<center>
<a class="btn" href="#" id="refresh"><i class="icon-refresh"></i> Refresh</a>
</center>

<hr />

<ul class="nav nav-list">
{% for mailbox in mailboxes %}
  <li class="nav-header">{{mailbox.email}}</li>

{% for key, value in r[mailbox.email] recursive %}

{% if current_email == mailbox.email and current_folder == value.get_lineage() %}
  <li class="active">
{% else %}
  <li> <!-- class="#active" -->
{% endif %}

<a href="/mail/{{ mailbox.email }}/{{ value.get_lineage() }}">
  {{ key }}
</a>
  {% if value.children %}
    <ul class="nav nav-list">{{ loop(value) }} </ul>
  {% endif %}
  </li>

{% endfor %}

{% endfor %}

</ul>
{% endif %}

    </div>
    <div class="span10">

<ul class="breadcrumb">
    {% if breadcrumbs %}
    {% for crumb in breadcrumbs %}
      <li>
       {{crumb}} <span class="divider">/</span>
      </li>
    {% endfor %}
    {% else %}
    <li>Please select an email folder on the left</li>
    {% endif %}
</ul>

{% if emails %}

<table class="table" id="myEmails">
    <thead>
        <tr>
            <th>From</th> <!-- TODO: "To" -->
            <th>Subject</th>
<!--
            <th>Body</th>
-->
            <th>Date</th>
<!--
            <th>Path</th>
-->
        </tr>
    </thead>
    <tbody>
    {% for email in emails %}
        {% if email.seen %}
        <tr>
        {% else %}
        <tr style="font-weight: bold;">
        {% endif %}
            <td>{{email.from}}</td>
            <td>
                <a href="/mail/message/{{current_email}}/{{current_folder}}?message={{email.path}}">
                {{email.subject}}
                </a>
            </td>
            <td>{{email.date}}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<!--
<div class="pagination">
  <ul>
    <li><a href="#">Prev</a></li>
    <li class="active">
      <a href="#">1</a>
    </li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>

    <li><a href="#">Next</a></li>
  </ul>
</div>
-->

{% endif %}

    </div>
{% include 'footer.html' %}
