
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Hip Flask Mail. Go ahead, hit refresh.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!--script src="/static/bootstrap/js/jquery-1.7.2.js"></script -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>


    <script src="/static/bootstrap/js/bootstrap.js"></script>


<script id="messageTemplate" type="text/x-jquery-tmpl">
<tr>
<td>${from}</td>
<td>${subject}</td>
<td>{$body}</td>
<td>{$date}</td>
</tr>
</script>


    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <!-- link href="/static/bootstrap/css/bootstrap-responsive.css" rel="stylesheet" -->

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="../assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Hip Flask Mail</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="#">View Mail</a></li>

   <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#menu1">
      Admin
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li><a href="/admin/mail">Edit Email Accounts</a></li>
      <li><a href="#">Change Password</a></li>
    </ul>
  </li>
</ul>

<ul class="nav pull-right">
              <li><a href="/logout">Logout</a></li>


            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
  
 <div class="accordion" id="accordion2" data-collapse-type="manual">

{% if not mailboxes %}
No mailboxes set up. Oh no!
{% else %}



{% for mailbox in mailboxes %}
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#mailboxCollapse{{ mailbox.id  }}">
                  {{ mailbox.email }}
                </a>
              </div>
              <div id="mailboxCollapse{{ mailbox.id }}" class="accordion-body collapse">
                <div class="accordion-inner">

<ul class="nav nav-list">

{% for key, value in r[mailbox.email] recursive %}


  <li> <!-- class="#active" -->
<a href="/mail/{{ mailbox.email }}/{{ value.get_lineage() }}">
  {{ key }}
<!--
  {{ value }}
  {{ value.get_lineage() }}
-->
</a>
  {% if value.children %}
    <ul class="nav nav-list">{{ loop(value) }} </ul>
  {% endif %}
  </li>

{% endfor %}

</ul>

                </div>
              </div>
            </div>

{% endfor %}
{% endif %}

          </div>



    </div>
    <div class="span10">

<ul class="breadcrumb">
    {% for crumb in breadcrumbs %}
      <li>
       {{crumb}} <span class="divider">/</span>
      </li>
    {% endfor %}
</ul>

{% if emails %}
hi
{% else %}
<p>Select an email folder on the left</p>
{% endif %}

<table class="table">

<tr>
<td>gargoylemusic@gmail.com</td>
<td>hi there!</td>
<td>This is an email body la la la...</td>
<td>7/18/12 9:35pm</td>
</tr>

<tr>
<td>gargoylemusic@gmail.com</td>
<td>hi there!</td>
<td>This is an email body la la la...</td>
<td>7/18/12 9:35pm</td>
</tr>

<tr>
<td>gargoylemusic@gmail.com</td>
<td>hi there!</td>
<td>This is an email body la la la...</td>
<td>7/18/12 9:35pm</td>
</tr>

<tr>
<td>gargoylemusic@gmail.com</td>
<td>hi there!</td>
<td>This is an email body la la la...</td>
<td>7/18/12 9:35pm</td>
</tr>

<tr>
<td>gargoylemusic@gmail.com</td>
<td>hi there!</td>
<td>This is an email body la la la...</td>
<td>7/18/12 9:35pm</td>
</tr>

</table>

<div class="pagination">
  <ul>
    <li><a href="#">Prev</a></li>
    <li class="active">
      <a href="#">1</a>
    </li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>

    <li><a href="#">Next</a></li>
  </ul>
</div>

    </div>
  </div>
</div>

<ul id="movieList"></ul>

<script id="movieTemplate" type="text/x-jquery-tmpl">
    <li><b>${Name}</b> (${ReleaseYear})</li>
</script>

<script type="text/javascript">
    var movies = [
        { Name: "The Red Violin", ReleaseYear: "1998" },
        { Name: "Eyes Wide Shut", ReleaseYear: "1999" },
        { Name: "The Inheritance", ReleaseYear: "1976" }
    ];

    // Render the template with the movies data and insert
    // the rendered HTML under the "movieList" element
    $( "#movieTemplate" ).tmpl( movies )
        .appendTo( "#movieList" );
</script>

<script type="text/javascript">

    var messages = [
        { from: "The Red Violin", subject: "1998", body: "mail body", date: "this is a date" },
        { from: "The Red Violin", subject: "1998", body: "mail body", date: "this is a date" }
    ];

    // Render the template with the movies data and insert
    // the rendered HTML under the "movieList" element
    $( "#messageTemplate" ).tmpl( messages )
        .appendTo( "#table" );

</script>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
<!--
    <script src="bootstrap/js/bootstrap-transition.js"></script>
    <script src="bootstrap/js/bootstrap-alert.js"></script>
    <script src="bootstrap/js/bootstrap-modal.js"></script>
    <script src="bootstrap/js/bootstrap-dropdown.js"></script>
    <script src="bootstrap/js/bootstrap-scrollspy.js"></script>
    <script src="bootstrap/js/bootstrap-tab.js"></script>
    <script src="bootstrap/js/bootstrap-tooltip.js"></script>
    <script src="bootstrap/js/bootstrap-popover.js"></script>
    <script src="bootstrap/js/bootstrap-button.js"></script>
    <script src="bootstrap/js/bootstrap-collapse.js"></script>
    <script src="bootstrap/js/bootstrap-carousel.js"></script>
    <script src="bootstrap/js/bootstrap-typeahead.js"></script>
-->

  </body>
</html>

