
{% include 'header.html' %}

    <div class="span2">
  
{% include 'mail_folders.html' %}

    </div>
    <div class="span10">

<ul class="breadcrumb">
    {% if breadcrumbs %}
    {% for crumb in breadcrumbs %}
      <li>
       {{crumb}} <span class="divider">/</span>
      </li>
    {% endfor %}
    {% else %}
    <li>Please select an email folder on the left</li>
    {% endif %}
</ul>

{% if emails %}

<table class="table" id="myEmails">
    <thead>
        <tr>
            <th>From</th> <!-- TODO: "To" -->
            <th>Subject</th>
<!--
            <th>Body</th>
-->
            <th>Date</th>
<!--
            <th>Path</th>
-->
        </tr>
    </thead>
    <tbody>
    {% for email in emails %}
        {% if email.seen %}
        <tr>
        {% else %}
        <tr style="font-weight: bold;">
        {% endif %}
            <td>{{email.from}}</td>
            <td>
                <a href="/mail/message/{{current_email}}/{{current_folder}}?message={{email.path}}">
                {{email.subject}}
                </a>
            </td>
            <td>{{email.date}}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<!--
<div class="pagination">
  <ul>
    <li><a href="#">Prev</a></li>
    <li class="active">
      <a href="#">1</a>
    </li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>

    <li><a href="#">Next</a></li>
  </ul>
</div>
-->

{% endif %}

    </div>
{% include 'footer.html' %}
